<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <title>Add New Student</title>
</head>

<body>
<div class="container d-flex justify-content-center mt-5">
    <div class="col-6">
        <form th:action="@{/groups/{id}/student/add(id=${group.id})}" th:object="${student}" method="post">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h1 class="display-6 text-center">Student Form</h1>
                </div>
                <div class="card-body">

                    <div class="mb-3">
                        <label class="form-label">First name</label>
                        <input type="text" class="form-control" th:field="*{firstName}" name="firstName" id="firstName"
                               placeholder="Enter first name">
                        <small class="text-danger" th:if="${#fields.hasErrors('firstName')}"
                               th:errors="*{firstName}"></small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Last name</label>
                        <input type="text" class="form-control" th:field="*{lastName}" name="lastName" id="lastName"
                               placeholder="Enter last name">
                        <small class="text-danger" th:if="${#fields.hasErrors('lastName')}"
                               th:errors="*{lastName}"></small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" th:field="*{email}" name="email" id="email"
                               placeholder="Enter email">
                        <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone</label>
                        <input type="text" class="form-control" th:field="*{phone}" name="phone" id="phone"
                               placeholder="Enter phone">
                        <small class="text-danger" th:if="${#fields.hasErrors('phone')}"
                               th:errors="*{phone}"></small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Date of birth</label>
                        <input type="date" class="form-control" th:field="*{dateOfBirth}" name="dateOfBirth" id="dateOfBirth"
                               placeholder="Enter date of birth">
                        <small class="text-danger" th:if="${#fields.hasErrors('dateOfBirth')}"
                               th:errors="*{dateOfBirth}"></small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Average grade</label>
                        <input type="number" class="form-control" th:field="*{averageGrade}" name="averageGrade" id="averageGrade"
                               placeholder="Enter average grade">
                        <small class="text-danger" th:if="${#fields.hasErrors('averageGrade')}"
                               th:errors="*{averageGrade}"></small>
                    </div>
                </div>
                <div class="footer d-flex align-items-center justify-content-center pb-3">
                    <button type="submit" class="btn btn-primary">Add Student</button>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
