<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <title>Student Group</title>

</head>

<body>
<div class="container d-flex justify-content-center mt-5">
    <div class="col-10">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <div class="row">
                    <div class="col-6"><h1 class="display-6 "> Groups </h1></div>

                    <form class="col-6 d-flex align-items-center" th:action="@{/student/groups/search}"
                          th:object="${groupCreateRequest}"
                          method="post">

                        <input type="text" class="form-control me-2" placeholder="Name of Group" th:field="*{title}"
                               name="title">
                        <button class="btn btn-light" type="submit">Search</button>

                    </form>

                </div>


            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name of Group</th>
                        <th>Students</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="group: ${groups}">
                        <td th:text="${group.id}"></td>
                        <td th:text="${group.nameOfGroup}"></td>
                        <td th:text="${group.students.size()}"></td>
                        <td th:text="${group.creationDate}"></td>
                        <td th:text="${group.updateDate}"></td>
                        <td>
                            <a class="btn btn-sm btn-primary" th:href="@{/student/groups/{id}(id=${group.id})}">Open Group</a>
                        </td>
                    </tr>
                    <!-- More table rows for existing Group -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
